#myP{
  color:red;
  font-family:impact;
  font-size:20px;
  
  
}
#ree{
  color:blue;
    font-family:comic sans ms;
  font-size: 20px;
}
#kaborp{
  color:#26e218;
  font-family:papyrus;
  font-size: 20px;
}
#voidray{
  width:100px;
}
#ultralisk{
  width:100px;
}
#thor{
  width:100px;
}
#battlecruiser{
  width:100px;
}
#paintball{
  color:blue;
  font-family:impact;
  font-size:20px;
}

#mothership{
  width:100px;
}
#jeff{
  font-size:17px;
  color:#00421d;
  font-family:courier new;
  
}
#steve{
  font-size:17px;
  color:#7c290d;
  font-family:courier new;
  
}
#bobby{
  font-size:17px;
  color:#0c85b5;
  font-family:courier new;
  
}
#boi{
  font-size:20px;
  color:#ce0000;
  font-family:impact
}
#yeet{
  font-size:17px;
  color:#ce0000;
  font-family:courier new;
}
#small{
  font-size:10px;
    font-family:courier new;
}
#bobbo{
  font-family:stencil;
}
#yorp{
  font-family:stencil;
  font-size:18.5px;
  color:#62bcb3;
}
#shnep{
  font-family: 'Galdeano', sans-serif;
    color:#db8f15;
      font-size:17px;
}